<h1>My profile</h1>
<form action="/account/edit" method="post" enctype="multipart/form-data">
  <label for="">Username</label>
  <input type="text" name="username" value={{foundUser.username}} required>
  <label for="">Email</label>
  <input type="text" name="email" value={{foundUser.email}} required>
 <label for="">Password</label>
  <input type="password" name="password" required>
  <label for="">Profile picture</label>
  <input type="file" name="profile-picture">
  <img src="{{foundUser.imageUrl}}" style="height: 240px" alt="">
  <button type="submit">Save</button>
</form>