<h1>My profile</h1>
<form action="/account/edit" method="post">
  <label for="">username</label>
  <input type="text" name="username" value={{foundUser.username}}>
  <label for="">email</label>
  <input type="text" name="email" value={{foundUser.email}}>
 <label for="">password</label>
  <input type="password" name="password">
  <button type="submit">Save</button>
</form>