<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>inContest</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <div id="form">
    <a href="/"><button>Back</button></a>
    <a href="/auth/login"><button>Login</button></a>

    <h2>Sign Up</h2>
    <form action="/auth/signup" method="POST">

      <label>
        Username
        <input type="text" name="username" placeholder="Your username" />
      </label>

      <label>
        Email
        <input type="email" name="email" placeholder="Your email" />
      </label>

      <label>
        Password
        <input type="password" name="password" placeholder="Your password" />
      </label>

      <button type="submit">Sign Up</button>

      {{#if errorMessage}}
        <p class="error">{{errorMessage}}</p>
      {{/if}}
    </form>
  </div>

</html>