<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>inContest</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body class="d-flex h-100 text-center text-bg-dark">
    <div class="w-100 m-auto" style="max-width: 480px;">
      <img src="/images/icons.png" style="height: 120px;" alt="" />
      <h1 class="display-1 fw-medium">inContest</h1>
      <p class="lead">Compete with your friends on investing!</p>
      <div class="lead">
        <a href="/auth/login"><button
            class="btn btn-lg btn-light fw-bold border-white bg-white mx-2"
          >Login</button></a>
        <a href="/auth/signup"><button
            class="btn btn-lg btn-outline-light fw-bold"
          >Sign up</button></a></div>

      <p class="text-secondary mt-5">Made by
        <a
          class="link-info"
          href="https://github.com/heylukechen"
          target="_blank"
        >Luke</a>
        and
        <a
          class="link-info"
          href="https://github.com/JelleWallenburg"
          target="_blank"
        >Jelle</a> in 2023</p>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js
"
    ></script>
    <script src="/js/script.js"></script>
  </body>
</html>