body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

#container {
  display: flex;
  flex: row;
}

#nav {
  display: flex;
  flex-direction: column;
  width: 10%;
}

#container-sm {
  width: auto;
}
